// About Content

.about-container {
  .header-content {
    // display: flex;
    h1 {
      padding: 15px;
      margin: 0 30px;
    }
    img {
      width: 100%;
      height: 50%;
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 0;
      padding-bottom: 50px;
    }

    p {
      font-style: italic;
      padding: 50px;
      margin: 0 30px;
      @media @phone {
        text-align: center;
        margin-left: 10%;
      }
    }
  }

  .text-content {
    h2 {
      border: 2px solid black;
      background-color: white;
      border-radius: 25px;
      margin: 30px;
      padding: 15px;
      display: flex;
      justify-content: center;
      // color:#A25097;
      @media @phone {
        color: silver;
        background-color: black;
      }
    }

    p {
      padding: 25px;
      line-height: 3rem;
      margin: 0 30px;
      display: block;
      text-align: center;
      @media @phone {
        text-align: center;
        margin-left: 10%;
      }
    }
  }


  .img-content {
    display: flex;

    img {
      margin: auto;
      width: 40%;
      margin-top: 20px;
      margin-bottom: 20px;
      opacity: 0.5;
      padding-bottom: 40px;
    }
  }

  .features .text-content {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 15px;
      border: 1px solid black;
      margin-left: 35%;
      margin-right: 35%;
      padding: 20px;
      padding-bottom: 20px;
      @media @phone {
        border: none;
        align-items: flex-start;
      }
      li {
        padding: 7px;
        list-style-type: square;
        font-style: italic;
        @media @phone {
          border: none;
        }
      }
    }
    p {
      padding-bottom: 25px;
      align-items: center;
    }
  }

  .tab {
    overflow: hidden;
    // border: 1px solid black;
    background-color: black;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: silver;
    padding: 40px;
    font-size: 16px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

  .tab button:hover {
    background-color: @black;
    opacity: 0.5;
    color: white;
  }

  .tab button.active {
    background-color: @silver;
    color: @black;
  }

  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid black;
    background-color: @white
  }

    .tabcontent h3 {
      font-size: 14px;
      padding: 10px;
    }
  

  * {
    box-sizing: border-box;
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}