
.testimonials-container {

    .reviews p {
        color: black;
        font-style: italic;
        font-weight: bold;
        margin-left: 20%;
        
    }

    .testimonials {
        p {
        display: flex;
        justify-content: center;
        font-style: italic;
    }
    h4 {
        display: flex;
        justify-content: center;
    
    }
    }



    .review-details {
        padding: 5px;
        margin: 0 30px;
        font-size: 16px;

        li {
            padding: 3px;
        }
    }

    .img-reviews img {
        padding: 5px;
        margin: 0 30px;
    }

    .img-content {
        display: flex;
        
        img {
            margin: auto;
            width: 60%;
            margin-bottom: 5%;
            margin-top: 2.5%;
        }
    }
    
    .header-content {
        display: flex;
        background-color: #151515;

        
        img {
            width: 30%;
            height: 30%;
            margin-left: 35%;
            opacity: 0.8;
            border-radius: 25px;


        }
    }

    .footer {
        display: flex;
        background-color: #212529;
        margin-top: 10%;

        img {
            // width: 30%;
            // height: 30%;
            margin-left: 10%;
            


        }
    }


}
