
.testimonials-container {

    .reviews p {
        color: black;
        font-style: italic;
        font-weight: bold;
        margin-left: 20%;
        
    }

    .review-details {
        padding: 5px;
        margin: 0 30px;
        font-size: 16px;

        li {
            padding: 3px;
        }
    }

    .img-reviews img {
        padding: 5px;
        margin: 0 30px;
    }

    .img-content {
        display: flex;
        
        img {
            margin: auto;
            width: 60%;
            margin-bottom: 5%;
        }
    }
    
    .header-content {
        display: flex;
        background-color: #B8B6BA;

        
        img {
            margin-left: 40%;
            width: auto;

        }
    }


}
